
/* -----------------header-------------------------------- */

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #212121;
}

header {
  background-color: #607D8B;
  display: flex;
}

.nav-btn {
  font-size: 1.1em;
  color: #212121;
}

.navigation {
  flex: 1;
}

.nav-list {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style-type: none;
  align-items: flex-end;
}

.nav-item {
  display: flex;
  padding: 0px 20px 40px 20px;
}

.nav-icon {
  color: #CDDC39;
  width: 23px;
  height: 23px; 
  margin-right: 5px;
}

.nav-btn {
  border: none;
  background-color: #607D8B;
}

.page-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 20px 0px 20px;
}

.admin {
  display: flex;
}

.admin-icon {
  fill: #CFD8DC;
  height: 30px;
  width: 30px;
}

.admin-btn{
  color: #CDDC39;
  border: none;
  background-color:  #607D8B;
}

.admin-arrow-icon {
  fill: #CDDC39;
  height: 20px;
  width: 20px;
  padding-top: 5px;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo-title {
  color: #CFD8DC;
  font-size: 3em;
}

.logo-img {
  height: 115px;
  margin: 0px -10px 10px 0px;
}

/*------------main area------------------------- */

 main {
  margin: 30px;
 }

 .collective-title {
   font-size: 2.5em;
   font-weight: 500;
   padding: 10px 0px;
 }

 .collective-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 10px;
   row-gap: 10px;
   min-height: 0; 
   min-width: 0; 
 }

 .collective-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  min-width: 0; 
 }

 .card-img {
  height: 150px;
  background-size: 350px;
 }

 .collective-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("/assets/Wind\ Dancers\ copy.jpg");
  background-position: 50% 50%;
 }

 .collective-img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("/assets/image-from-rawpixel-id-2055583-jpeg.jpg");
  background-position: 50% 50%;
 }

 .collective-img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("assets/image-from-rawpixel-id-431308-jpeg.jpg");
  background-position: 50% 50%;
 }

 .collective-img-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("/assets/image-from-rawpixel-id-461081-jpeg.jpg");
  background-position: 50% 65%;
 }

 .collective-img-5 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
   url("/assets/image-from-rawpixel-id-895017-jpeg.jpg");
  background-position: 50% 20%;
 }

 .collective-img-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("/assets/image-from-rawpixel-id-2224078-jpeg.jpg");
  background-position: 50% 50%;
 }

 .collective-img-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("/assets/image-from-rawpixel-id-2906688-jpeg.jpg");
  background-position: 50% 50%;
 }

 .collective-img-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("/assets/image-from-rawpixel-id-2940042-jpeg.jpg");
  background-position: 50% 15%;
 }
 
 .card-icon-views-container {
  display: flex; 
  justify-content: space-between;
  color: #CFD8DC; 
  padding: 10px; 
}

 .arrow-icon-circle {
   display: inline-block;
   border-radius: 50%;
   background-color: #FFF;
   margin: 10px; 
 }

 .arrow-icon {
   width: 40px;
   height: 40px;
   color: #212121;
   padding: 10px; 
 }

 .card-views-container {
   padding: 8px; 
 }

 .card-views-text {
   font-size: .9em; 
   margin: 0px; 
 }

 .card-views-num {
   font-size: 2em;
   margin: 0px;   
 }

 /* ----------------collective-card-info---------------- */

 .collective-card-info-container {
   list-style-type: none;
   padding: 0px; 
   margin: 20px; 
 }

 .artist-name {
   margin: 0px;  
 }

 .card-date {
   color: #757575;
   font-size: .8em;  
 }

 .artist-personal-link-container { 
   margin: 20px 0px;  
   background-color: #CFD8DC; 
 }

 .artist-personal-link {
   word-wrap: break-word; 
   color: #757575; 
   font-size: .8em; 
   padding: 20px 10px; 
 }

 .location-title {
   font-size: .7em; 
   margin: 0px;
 }

 .artist-location {
   margin-top: 5px;
 }

 .artist-works-container {
   margin: 20px 0px; 
 }

 .artwork-title {
   font-size: .7em;
   margin: 0px 0px 5px 0px;   
 }

 .artist-works-num {
   margin: 0px; 
   color: #CDDC39;
   font-size: 2em; 
 }

 /* -----------------media queries-------------------- */

@media screen and (max-width: 950px) {

  /* header */

  header {
    flex-direction: column-reverse;
  }

  .nav-list {
    justify-content: center; 
  }

  .nav-item {
    padding: 0px 10px 25px 0px; 
  }

  .page-info {
    flex-direction: row-reverse; 
    align-items: flex-start; 
  }

  .admin {
    padding-top: 10px; 
  }

  .logo {
    padding-bottom: 20px; 
  }

  .logo-title {
    font-size: 2.5em; 
  }

  .logo-img {
    height: 90px; 
  }

  /* card-image-area */

  main {
    margin: 40px; 
  }

  .collective-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;  
  }
}

@media screen and (max-width: 550px) {

  .page-info {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;  
  }

  .nav-btn {
    display: none; 
  }

  .nav-list {
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;  
  }

  .nav-item {
    padding-bottom: 15px; 
  }

  .nav-icon {
    width: 30px; 
    height:30px; 
  }

  .logo{
    padding: 0px;  
  }

  .logo-title {
    margin-bottom: 20px; 
  }

  .logo-img {
    margin-bottom: 0px; 
  }

  .admin {
    padding: 0px; 
  }

  /* card-image-area */

  .collective-title {
    text-align: center; 
  }

  .collective-grid {
    grid-template-columns: 1fr; 
  }
}

/* -------------------state---------------------- */

.activated {
  color: #CFD8DC;
}